h3 {
    text-align: center;
}

.page-matching-form hr {
    margin: 70px 0;
}

.page-box {
    padding: 50px 0;
    max-width: 1200px;
    margin: auto;
}

.match-field-label {
    margin-top: 6px;
    text-align: right;
}

label.checkbox {
    padding-left: 20px;
    font-weight: normal;
    /*input[type='checkbox'] {*/
    /*margin-left: 0;*/
}

.matching-form-box {
    margin-top: 30px;
}

.form-box {
    text-align: center;
    max-width: 400px;
    padding: 50px;
    margin: auto;
    margin-top: 40px;
}

.or {
    font-size: 15px;
    color: #999;
    position: relative;
    display: block;
    margin-bottom: 13px;
    margin-bottom: 13px;
}

.or:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    width: 50px;
    background-color: #fff;
}

.or:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #eee;
    width: 100%;
}

.or span {
    position: relative;
    z-index: 1;
}

.form-box h4 {
    margin-top: -10px;
    margin-bottom: 20px;
}

.login-form .btn {
    display: inline-block;
    width: 300px;
    max-width: 100%;
    margin: 5px 0;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-top-5{
    margin-top: 5px;
}

.margin-bottom-40{
    margin-bottom: 40px;
}

.margin-top-bottom-50{
    margin-top: 50px;
    margin-bottom: 50px;
}

.align-right{
    text-align: right;
}

.align-left{
    text-align: left;
}

.center-text{
    text-align: center;
}

.form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
}
.form-signin {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.center-vertical{
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}

.full-width{
    width: 90%;
}